# Mac
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
backend/.classpath
backend/.settings
backend/.project
examples/kafka_producer/.classpath
examples/kafka_producer/.project


# Python
__pycache__/
*.py[cod]

# IntelliJ
.idea/
*.iml
*.prefs
examples/kafka_producer_twitter/.classpath
examples/kafka_producer_twitter/.project
examples/storm_example/.classpath
examples/search/.classpath
examples/kafka_twitter_topology/.project
examples/kafka_twitter_topology/.classpath
examples/search/.project
examples/storm_example/.project
examples/storm_kafka_topology/.classpath
examples/storm_kafka_topology/.project
