<!DOCTYPE html>
<html lang="en">

<head>
	<title>HashTag Chronicles</title>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'homepage/img/twitter.png' %}">
    <link rel="icon" type="image/png" href="{% static 'homepage/img/twitter.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <!-- Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <!-- CSS Files -->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'homepage/css/now-ui-kit.css' %}" rel="stylesheet" />    
    
    <!-- Chart JS -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    
    <!-- JQuery and Bootstrap -->
    <script src="{% static 'homepage/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'homepage/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'homepage/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    
    <!-- World Map -->
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>                  
    
    <!-- Required meta tags -->    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   

    <!-- Word cloud -->
    <!--<link rel="stylesheet" type="text/css" href="jqcloud.css" />-->
    <link href="{% static 'homepage/css/jqcloud.css' %}" rel="stylesheet" /> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <!--<script type="text/javascript" src="jqcloud-1.0.4.js"></script>-->
    <script src="{% static 'homepage/js/jqcloud-1.0.4.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
         function get_data() {
    
            document.getElementById("cloud").innerHTML = "";
            
            var id = this.id;
            alert(this.id);
            //amruta populate this
            /*var topic_json = {"t1":[{"text":"donald", weight:10}, {"text":"president", weight:20}], "t2":[{"text":"hi", weight:5}], "t3" : {"text":"hiiiiiii", weight:15}};

            word_data = topic_json[id];      
            //alert(word_data)
            alert("calling jQCloud .... word_data="+word_data);

            /*$(function() {
              // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
              $("#cloud").jQCloud(word_data);
            });*/

            var word_array = [
                {text: "Lorem", weight: 15},
                {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
                {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
                {text: "Sit", weight: 7},
                {text: "Amet", weight: 5}
                // ...as many words as you want
            ];

            $(function() {
              // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
              $("#cloud").jQCloud(word_array);
            });

        }
        
        $(".topic-class").click(get_data);
    </script>
    
	<script type="text/javascript">        


    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        //nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }


	function plot_world_map()
    {
    	//alert("iminsideworldmap");
    	var margin = 75;
    	var width = 960-margin,height = 500-margin;

    	var svg = d3.select('body')
    	  .append('svg')
    	  .attr('width',width + margin)
    	  .attr('height',height + margin)
    	  .append('g')
    	  .attr('class','map');

    	var projection = d3.geo.mercator()
    	  .scale(width / 2 / Math.PI)
    	  //.scale(100)
    	  .translate([width / 2, height / 2])

    	var path = d3.geo.path()
    	  .projection(projection);

    	d3.json("/static/homepage/charts/world.json",function(geo_data){
    	  var map = svg.selectAll('path')
    		.data(geo_data.features)
    		.enter()
    		.append('path')
    		.attr('d',path)
    		.style({'fill':'#E5DBD2','stroke':'#fff','stroke-width':.6})
    	  /*d3.json(tweet_plot,function(data){ // Amruta just add stuff to this file. And it will plot it
            	data = data.map(function(d){
            	  return {coords:projection([+d.coords[0],+d.coords[1]]),frequency:d.frequency}
            	})
    			var rScale = d3.scale.sqrt()
    			  .domain(d3.extent(data,function(d){return d.frequency}))
    			  .range([2,4])
    			var bubble = svg.selectAll('.bubble')
    			  .data(data)
    			  .enter()
    			  .append('g')
    			  .attr('class','bubble')
    			bubble.append('circle')
    			  .attr('cx',function(d){return d.coords[0]})
    			  .attr('cy',function(d){return d.coords[1]})
    			  .attr('r',function(d){return rScale(d.frequency)})
    			  .attr('fill','#F26247') // Just change things here. For the color of what ever. and you are done.
    		  })*/
    		})
    }
	</script>
</head>

<body class="index-page sidebar-collapse">
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('{% static 'homepage/img/header.jpg' %}');">
            </div>
            <div class="container">

                <div class="content-center brand">
                    <form action="/search/" method = 'GET' class="search-form">
                        <div class="form-group has-feedback">
                            <label for="search" class="sr-only">Search Hashtag</label>
                            <input type="text" class="form-control" name="search" id="search" placeholder="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                    <br><br><br>
                    <h3>HashTag Search</h3>
                </div>
            </div>
        </div>
    </div>
	<div class="section section-tabs">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
	                <p class="category" id="recommended">Recommended Hashtags</p>
	                <!-- Nav tabs -->
	                <div class="card">
	                        <div class="card-body">
	                            <!-- Tab panes -->
	                            <div class="tab-content text-center">
	                                <div class="tab-pane active" id="home" role="tabpanel">
	                                    <div class="row">
	                                            <button class="btn btn-link">#HashTag1</button>
	                                            <button class="btn btn-link btn-primary ">#HashTag2</button>
	                                            <button class="btn btn-link btn-info">#HashTag3</button>
	                                            <button class="btn btn-link btn-success">#HashTag4</button>
	                                            <button class="btn btn-link btn-warning">#HashTag5</button>
	                                            <button class="btn btn-link btn-danger">#HashTag6</button>
	                                            <button class="btn btn-link">#HashTag7</button>
	                                            <button class="btn btn-link btn-primary ">#HashTag8</button>
	                                            <button class="btn btn-link btn-info">#HashTag9</button>
	                                            <button class="btn btn-link btn-success">#HashTag10</button>
	                                    </div>
	                                </div>
	                        </div>
	                    </div>
	                </div>
	                <br><br><br><br><br>
	            </div>
	        </div>
	    </div>
        <div class="container">
            <div class="row">
            	<div class="col-md-6">
            		<p class="category">Sentiment Analysis</p>
					<div class="ct-chart1 ct-golden-section" id="pieChart"></div>                    
                    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
                    <script src="https://d3js.org/d3-path.v1.min.js"></script>
                    <script src="https://d3js.org/d3-shape.v1.min.js"></script>                     
                    <script src="{% static 'homepage/js/d3pie.min.js' %}" type="text/javascript"></script>
                    <script src="{% static 'homepage/js/d3pie.js' %}" type="text/javascript"></script>
                    <script type="text/javascript" src= "{% static 'homepage/charts/pichart.js' %}"></script>
            	</div>

            	<div class="col-md-6">
            		<p class="category">Milestones</p>
            		<div class="ct-chart2 ct-golden-section" id="chart2"></div>
            		<script type="text/javascript" src="{% static 'homepage/charts/chart2.js' %}"></script>
            	</div>
            </div>

        </div>
        <br><br><br><br><br>
        <div class="container">
        	<div class="row">
        		<p class="category">World Map</p>
                <div id="world_map"></div>				
				<script src="{% static 'homepage/js/d3pie.min.js' %}" type="text/javascript"></script>
				<script src="{% static 'homepage/js/d3pie.js' %}" type="text/javascript"></script>
                <script type="text/javascript" src="{% static 'homepage/charts/new-worldmap.js' %}"></script>                
				<script> 
                    /*var plots = "{{ my_json }}";
                    alert("plots is:"+plots);
                    var parsed = JSON.parse(plots);
                    alert("parsed String is: "+parsed);*/
                    var data =  {{ my_json  | safe }}
                    var stringified = JSON.stringify(data)

                    //alert("data is: "+data);
                    //alert("string is:"  + stringified);

                plot_world_map(stringified   ,"/static/homepage/charts/world.json");</script>
        	</div>
    	</div>
	</div> 
    <br><br><br><br><br>
        <div class="container">
            <div class="row">                
                <div class="col-md-6">
                    <p class="category" id="recommended">Select Topic </p>
                    <!-- Nav tabs -->
                    <div class="card">
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content text-center">
                                    <div class="tab-pane active" id="home" role="tabpanel">
                                        <div class="row">
                                                <button class="btn btn-link topic-class" onclick="get_data(this)" id="t1">Topic 1</button>
                                                <button class="btn btn-link btn-primary topic-class"onclick="get_data(this)" id="t2">Topic 2</button>
                                                <button class="btn btn-link btn-info topic-class"onclick="get_data(this)" id="t3">Topic 3</button>
                                                <button class="btn btn-link btn-success topic-class"onclick="get_data(this)" id="t4">Topic 4</button>
                                                <button class="btn btn-link btn-warning topic-class"onclick="get_data(this)" id="t5">Topic 5 </button>
                                                <button class="btn btn-link btn-danger topic-class"onclick="get_data(this)" id="t6">Topic 6</button>
                                                <button class="btn btn-link topic-class"onclick="get_data(this)" id="t7">Topic 7</button>
                                                <button class="btn btn-link btn-primary topic-class" onclick="get_data(this)" id="t8">Topic 8</button>
                                                <button class="btn btn-link btn-info topic-class" onclick="get_data(this)" id="t9">Topic 9</button>
                                                <button class="btn btn-link btn-success topic-class" onclick="get_data(this)" id="t10">Topic 10</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div> 
                     <script type="text/javascript"> 
                        $(".topic-class").click(get_data);
                    </script>
                    <br><br><br><br><br>
                </div>
                    <div class="col-md-6">
                        <p class="category" id="recommended">Topic Results</p>
                        <div class="card-body">
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="row">
                                        <div id="cloud" style="width: 550px; height: 350px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div> 

                               
        </div>
    </div>
</div>    
		<br><br><br><br><br>
    <div class="container">
    	<div class="row">
            <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
                <p class="category">News Articles</p>
                <!-- Nav tabs -->
                <div class="card">
                        <div class="card-body">
                            <!-- Tab panes -->
							  <div class="list-group">
							  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
							    <div class="d-flex w-100 justify-content-between">
							      <h5 class="mb-1">First News Article Heading</h5>
							      <small>3 days ago</small>
							    </div>
							    <p class="mb-1">Couple of Lines about the news article</p>
							    <small>Something else cool.</small>
							  </a>
							  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							    <div class="d-flex w-100 justify-content-between">
							      <h5 class="mb-1">Second News Article Heading</h5>
							      <small class="text-muted">3 days ago</small>
							    </div>
							    <p class="mb-1">Couple of Lines about the news article</p>
							    <small class="text-muted">Something else cool.</small>
							  </a>
							  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
							    <div class="d-flex w-100 justify-content-between">
							      <h5 class="mb-1">Third News Article Heading</h5>
							      <small class="text-muted">3 days ago</small>
							    </div>
							    <p class="mb-1">Couple of Lines about the news article</p>
							    <small class="text-muted">Something else cool.</small>
							  </a>
							</div>
                    	</div>
                </div>
            </div>
    	</div>
	</div>

    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="{% static 'homepage/img/avatar.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Andrew Chen</h4>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                           <div class="team-player">
                            <img src="{% static 'homepage/img/avatar.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Amruta Rajopadhye</h4>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="team-player">
                            <img src="{% static 'homepage/img/avatar.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Chu Sheng</h4>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="{% static 'homepage/img/avatar.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Sayali Sonawane</h4>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="{% static 'homepage/img/avatar.jpg' %}" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Sharan Srivatsa</h4>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script type="text/javascript">


	var query = document.getElementById("search");
	if(query){
	query.addEventListener("keydown", function (e) {
		if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
			validate(e);
		}
	})};

	function validate(e) {
		var text = e.target.value;
  		var element_to_scroll_to = document.getElementById('recommended');
		element_to_scroll_to.scrollIntoView(true);
	}


</script>

</html>