<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'homepage/img/twitter.png' %}">
    <link rel="icon" type="image/png" href="{% static 'homepage/img/twitter.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <style type="text/css">
        body {
            color: #5d5d5d;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            font-size: 30px;
            margin: auto;
            margin-top: 50px;
        }
        .container {
            max-width: 800px;
            margin: auto;
        }
        .mapael .map {
            position: relative;
        }
        .mapael .mapTooltip {
            position: absolute;
            background-color: #fff;
            moz-opacity: 0.70;
            opacity: 0.70;
            filter: alpha(opacity=70);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            max-width: 200px;
            display: none;
            color: #343434;
        }
    </style>
    
    <!-- Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    
    <!-- CSS Files -->
    <link href="{% static 'homepage/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'homepage/css/now-ui-kit.css' %}" rel="stylesheet" />    
    
    <!-- Chart JS -->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    
    <!-- JQuery and Bootstrap -->
    <script src="{% static 'homepage/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'homepage/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'homepage/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    
    <!-- World Map -->
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>                  
    
    <!-- Required meta tags -->    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   

    <!-- Line graph -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Word cloud -->
    <!-- <link rel="stylesheet" type="text/css" href="jqcloud.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="{% static 'homepage/css/jqcloud.css' %}" rel="stylesheet" /> 
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> -->
    <!--<script type="text/javascript" src="jqcloud-1.0.4.js"></script>-->
    <script src="{% static 'homepage/js/jqcloud-1.0.4.js' %}" type="text/javascript"></script>

    <!-- new world map -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="{% static 'homepage/charts/jquery.mapael.js' %}" type="text/javascript"></script>
    <script src="{% static 'homepage/charts/world_countries.js' %}" type="text/javascript"></script>


	<script type="text/javascript">
         function get_data(id) {            
			var myjs;
			var json_new;
            $.ajax({
			type: 'GET',
			async: false,
			url: window.location.href,
			data : { requester : "topicmodel" },
			success: function(json) {
				myjs = json;
				//alert("this is inside getdata alert" + myjs);
				//alert(typeof(myjs));
			 }
			});

			document.getElementById("cloud").innerHTML = "";
			var topic_json = myjs;
			//alert('topic json type: ' + typeof(topic_json));
            if(topic_json == null){
                //alert("I am null!");
            } else {

                //str_new = JSON.stringify(topic_json);
                
                json_new = JSON.parse(topic_json);
                //json_new_new = JSON.parse(json_new);
                //alert('json_new:' + json_new);
                //alert('json_new:' + json_new_new);
                //alert('new: '+ typeof(json_new));
                //alert('new_new: ' + typeof(json_new_new));
			}
            //alert('id is: '+ id);
			//alert(typeof(id));
			word_data = json_new[id];

			//alert('word_data:' + word_data);
			//alert("calling jQCloud .... word_data="+word_data);

			$(function() {
			  // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
			  $("#cloud").jQCloud(word_data);
			});

			/*var word_array = [
				{text: "Lorem", weight: 15},
				{text: "Ipsum", weight: 9, link: "http://jquery.com/"},
				{text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
				{text: "Sit", weight: 7},
				{text: "Amet", weight: 5}
				// ...as many words as you want
			];*/

			/*$(function() {
			  // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
			  $("#cloud").jQCloud(word_data);
			});*/

        }
        
        // $(".topic-class").click(get_data);
    </script>
    
    <script type="text/javascript">        


    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        //nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }

    </script>
</head>

<body class="index-page sidebar-collapse">
	<div class="section section-tabs">
		 <div class="container">
	        <div class="row">
				<div>{{ mode }}</div>
				<div>{{ milestones }}</div>
	            <div class="col-md-6 twitter-timeline pre-scrollable">
					<p class="category" id="toptweets">Recent tweets for {{ query }}</p>
					{% block content %}
						{% for content in top_tweets_1 %}
							{{ content| safe }}
						{% endfor %}
					{% endblock %}
				</div>
				<div class="col-md-6 offset-md-4 twitter-timeline pre-scrollable">
					<p class="category" id="topblueticktweets">Popular tweets for {{ query }}</p>
					{% block new_content %}
						{% for content in top_tweets_2 %}
							{{ content| safe }}
						{% endfor %}
					{% endblock %}
				</div>
			</div>
		 </div>
         <br><br>
	    <div class="container">
	        <!--<div class="row">
	            <div class="col-md-10 col-lg-8 col-xl-6 ml-auto mr-auto">
	                <p class="category" id="recommended">Recommended Hashtags</p>
	                <!-- Nav tabs 
	                <div class="card">
                        <div class="card-body">
	                            <!-- Tab panes 
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="row">
                                        <button class="btn btn-link">#HashTag1</button>
                                        <button class="btn btn-link btn-primary ">#HashTag2</button>
                                        <button class="btn btn-link btn-info">#HashTag3</button>
                                        <button class="btn btn-link btn-success">#HashTag4</button>
                                        <button class="btn btn-link btn-warning">#HashTag5</button>
                                        <button class="btn btn-link btn-danger">#HashTag6</button>
                                        <button class="btn btn-link">#HashTag7</button>
                                        <button class="btn btn-link btn-primary ">#HashTag8</button>
                                        <button class="btn btn-link btn-info">#HashTag9</button>
                                        <button class="btn btn-link btn-success">#HashTag10</button>
                                    </div>
                                </div>
	                        </div>
	                    </div>
	                </div>
	                <br><br><br><br><br>
	            </div>
	        </div>-->
	    </div>
        <div class="container">
            <div class="row">
            	<div class="col-md-6">
            		<p class="category">Sentiment Analysis</p>
					<div class="ct-chart1 ct-golden-section" id="pieChart"></div>
					<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
					<script src="{% static 'homepage/js/d3pie.min.js' %}" type="text/javascript"></script>
					<script src="{% static 'homepage/js/d3pie.js' %}" type="text/javascript"></script>
					<!--<script type="text/javascript" src="{% static 'homepage/charts/pichart.js' %}"></script>-->
					<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    <script type="text/javascript">
                    	var sent =  {{ sentiment  | safe }};
						function getpiechart(datapoints){
						var chart = new CanvasJS.Chart("pieChart", {
							data: [{
								type: "pie",
								startAngle: 240,
								yValueFormatString: "##0.00\"%\"",
								indexLabel: "{label} {y}",
								dataPoints: datapoints
							}]
						});
						chart.render();
						}
						var updateCount = 0;
						var sentiments = ["POS", "NEG", "NEU"];
						var updateChart = function (datapoints) {
						var parsedJSON = JSON.parse(datapoints);
						chart = new CanvasJS.Chart("pieChart", {
							data: [{
								type: "pie",
								startAngle:240,
								yValueFormatString: "##0.00\"%\"",
								indexLabel: "{label} {y}",
								dataPoints: parsedJSON
							}]
						});
						chart.render();

						};

						getpiechart(sent);

						function ajaxCall() {
							$.ajax({
							type: 'GET',
							url: window.location.href,
							data : { requester : "setinterval" },
							 success: function(json) {
							 	var myjs = JSON.stringify(json);
							 	var newjs = JSON.parse(myjs);
								updateChart(newjs);
							 }
							});
						}

                        setInterval(ajaxCall, 2000);
					</script>
        	    </div>
                <div class="col-md-6">
                    <p class="category">Milestones</p>
                    <div class="ct-chart2 ct-golden-section" id="milestones"></div>
                    <!--<script type="text/javascript" src="{% static 'homepage/charts/chart3.js' %}"></script>                  
                    <script type="text/javascript"> plot_milestones();</script>-->
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    <script type="text/javascript">
                            function load_milestones(data_mile) {
							var dps = data_mile;
                            var chart = new CanvasJS.Chart("milestones", {
                                animationEnabled: true,
                                theme: "light2",
                                axisY:{
                                    includeZero: false
                                },
                                data: [{        
                                    type: "line",       
                                    dataPoints: dps
                                }]
                            });
                            chart.render();
                            return chart;
							}
                            var dataLength = 20;
                            var updateInterval = 1000;
                            var days = 15;
                            var months = 0
							/*
                            var updateMilesChart = function(data_) {
                                days = days + 1;
                                if(days == 31){
                                    months += 1
                                }
                                var yVal = Math.round(Math.random()*100);
                                dps.push({x: new Date(2017,months,days), y: yVal});
                                if(dps.length > dataLength){
                                    dps.shift();
                                }
                                chart.render();
                            }; */

                            var updateMilesChart = function (dps, chart) {
                                //alert("updatemileschart");
                                var data_length = 10;
    							for (var key in dps) {
    								dps[key]["x"] = eval(dps[key]["x"]);
    							}
                                //alert('charts is: '+ chart);
                                //alert('type charts is: '+ typeof(chart));
                                chart.options.data[0].dataPoints = dps;
                                if(chart.options.data[0].dataPoints.length > data_length){
                                        chart.options.data[0].dataPoints.shift();
                                }
    							chart.render();
							}

                    </script> 
                    <script type="text/javascript">
                    var data_milestones = {{ milestones | safe }};
                    /*alert(typeof(data_milestones));
                    alert(typeof(data_milestones[0]["x"]));
					alert(typeof(data_milestones[0]["y"]));
                    alert(data_milestones);*/
                    var original_chart = load_milestones(data_milestones);

					function ajaxMileCall() {
							$.ajax({
							type: 'GET',
							url: window.location.href,
							data : { requester : "setmilesinterval" },
							 success: function(json) {
							 	//alert(json);
								updateMilesChart(json,original_chart);
							 }
							});
						}

					setInterval(ajaxMileCall, 2000);
					</script>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="container">
        	<div class="row">
                <p class="category">World Map</p>
                <div class="mapcontainer_equi">
                    <div class="map">
                        <span>Alternative content for the map</span>
                    </div>
                </div>              
                <!--<script src="{% static 'homepage/js/d3pie.min.js' %}" type="text/javascript"></script>
                <script src="{% static 'homepage/js/d3pie.js' %}" type="text/javascript"></script>
                <script type="text/javascript" src="{% static 'homepage/charts/new-worldmap.js' %}"></script>                
                <script> 
                    /*var plots = "{{ my_json }}";
                    alert("plots is:"+plots);
                    var parsed = JSON.parse(plots);
                    alert("parsed String is: "+parsed);*/
                    var data =  {{ my_json  | safe }}
                    var stringified = JSON.stringify(data)

                    //alert("data is: "+data);
                    //alert("string is:"  + stringified);

                plot_world_map(stringified   ,"/static/homepage/charts/world.json");</script>-->
                <script type="text/javascript">
                    function get_map(test_plots) {                       
                        var getElemID = function(elem) {                
                            return $(elem.node).attr("data-id");
                        };
                        
                        $(".mapcontainer_equi").mapael({
                            map: {
                                name: "world_countries",
                                defaultArea: {
                                    tooltip: {
                                        content: getElemID
                                    }
                                }
                            },
                            plots: test_plots
                        });
                    };

                    var updateMap = function(new_plots) {
                        //alert("in updatemap");
                        var getElemID = function(elem) {                
                            return $(elem.node).attr("data-id");
                        }
                      $(".mapcontainer_equi").mapael({
                          map: {
                              name: "world_countries",
                              defaultArea: {
                                  tooltip: {
                                      content: getElemID
                                  }
                              }
                          },
                          plots: new_plots
                      }); 
                       
                    }



                        var map = {{ geoparsed | safe }};
						var my_map = JSON.stringify(map);
						var new_map = JSON.parse(my_map);
                        get_map(new_map);

						function ajaxGeoCall() {
							$.ajax({
							type: 'GET',
							url: window.location.href,
							data : { requester : "setgeointerval" },
							 success: function(json) {
							 	var newjs = JSON.parse(json);
								updateMap(newjs);
							 }
							});
						}

                        setInterval(ajaxGeoCall, 2000);

                </script>
            </div>
    	</div>
    	<br><br><br><br><br>
        <div class="container">
        	<div class="row">                
                <div class="col-md-6">
                    <p class="category" id="recommended">Select Topic </p>
                    <!-- Nav tabs -->
                    <br><br><br><br>
                    <div class="card">
                        <div class="card-body">
                                <!-- Tab panes -->
                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="row">

                                        <button class="btn btn-link btn-primary topic-class" onclick="get_data(this.id)" id="t1">Topic 1</button>
                                        <button class="btn btn-link btn-danger topic-class" onclick="get_data(this.id)" id="t2">Topic 2</button>
                                        <button class="btn btn-link btn-warning topic-class" onclick="get_data(this.id)" id="t3">Topic 3</button>
                                        <button class="btn btn-link btn-info topic-class" onclick="get_data(this.id)" id="t4">Topic 4</button>
                                        <button class="btn btn-link btn-success  topic-class" onclick="get_data(this.id)" id="t5">Topic 5</button>
                                        <button class="btn btn-link topic-class" onclick="get_data(this.id)" id="t6">Topic 6</button>
                                        <button class="btn btn-link btn-primary topic-class" onclick="get_data(this.id)" id="t7">Topic 7</button>
                                        <button class="btn btn-link btn-success topic-class" onclick="get_data(this.id)" id="t8">Topic 8</button>
                                        <button class="btn btn-link btn-danger topic-class" onclick="get_data(this.id)" id="t9">Topic 9</button>
                                        <button class="btn btn-link btn-info topic-class" onclick="get_data(this.id)" id="t10">Topic 10</button>
                                        <!--<button class="btn btn-link btn-primary topic-class"onclick="get_data(this,{{ topic_models | safe }})" id="t2">Topic 2</button>
                                        <button class="btn btn-link btn-info topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t3">Topic 3</button>
                                        <button class="btn btn-link btn-success topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t4">Topic 4</button>
                                        <button class="btn btn-link btn-warning topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t5">Topic 5 </button>
                                        <button class="btn btn-link btn-danger topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t6">Topic 6</button>
                                        <button class="btn btn-link topic-class" onclick="get_data(this,my_topic_json)" id="t7">Topic 7</button>
                                        <button class="btn btn-link btn-primary topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t8">Topic 8</button>
                                        <button class="btn btn-link btn-info topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t9">Topic 9</button>
                                        <button class="btn btn-link btn-success topic-class" onclick="get_data(this,{{ topic_models | safe }})" id="t10">Topic 10</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <br><br><br><br><br>
                </div>
                <div class="col-md-6">
                    <p class="category" id="recommended">Topic Results</p>
                    <div class="card-body">
                        <div class="tab-content text-center">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="row">
                                    <div id="cloud" style="width: 550px; height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
       </div>
    </div>>
    
</body>
<!--   Core JS Files   -->

<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));

</script>
</html>